<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sciencesquad.health">

    <!-- For the Steps Module  -->
    <uses-feature android:name="android.hardware.sensor.stepcounter" />

    <!-- For SoundService to play audio with the screen off. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".events.BaseApplication"
        android:allowBackup="true"
        android:backupAgent=".data.RealmBackupAgent"
        android:fullBackupContent="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For Google's AutoBackupAgent. -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIH0mZXy_cfYTsA7ZYW8iO-x0b-h2_k3SLBDx7Dg"/>

        <!-- Entry point for the application. -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Can be started from any launcher application. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- For Clock testing. -->
        <activity
            android:name=".ClockActivity"
            android:label="@string/title_activity_clock"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- For Steps testing. -->
        <activity
            android:name=".steps.StepsViewModel"
            android:label="@string/steps_module"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- For SleepModule to play audio in the background. -->
        <service
            android:name=".sleep.SoundService"
            android:exported="false"/>

    </application>
</manifest>
